/* Font, dit stuk code heb ik van Victor Zumpolle zodat ik de fonts kan gebruiken op elke webbrowser*/

@font-face {
    font-family: dfds-bold;
    src: url("font/dfds-bold.eot");
    src: url("font/dfds-bold.eot?#iefix") format("embedded-opentype"), url("font/dfds-bold.woff") format("woff"), url("font/dfds-bold.ttf") format("truetype"), url("font/dfds-bold.svg#dfds-bold") format("svg");
    font-style: normal;
}

@font-face {
    font-family: 'dfds-light';
    src: url("font/dfds-light.eot");
    src: url("font/dfds-light.eot?#iefix") format("embedded-opentype"), url("font/dfds-light.woff") format("woff"), url("font/dfds-light.ttf") format("truetype"), url("font/dfds-light.svg#dfds_lightregular") format("svg");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #eaedee;
}

h1 {
    font-family: dfds-bold;
    color: #192B41;
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    font-family: DFDS-bold;
    color: #192B41;
    background-color: #ffffff;
    margin: 0 auto;
    display: block;
}

ul {
    display: flex;
    align-items: center;
}
.logo{
       width: 10vh;
}
li {
    display: inline;
}

h2 {
    font-family: dfds-bold;
}

p {
    font-family: dfds-light;
}

footer{
    margin-top: 2em;
    padding: 2em;
    background-color: #1A2B41;
}

footer p {
    font-family: DFDS-light;
    color: #ffffff
}
/* De artikelen op de index pagina */
.artikelen {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.index {
    background-color: #ffffff;
    margin: 1em;
    padding-bottom: 1em;
}

.index h2,
p,
a {
    margin: 1em 1em 1em 1em;
}

.index a {
    background-color: #F6861F;
    font-family: dfds-bold;
    color: #ffffff;
    box-shadow: 0px 2px 5px #000000;
    text-decoration: none;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.index a:hover {
    background-color: #F29E57;
    box-shadow: 0px 0px 0px 0px #F29E57;
}			

/* Aanmeldpagina */
legend {
    font-family: dfds-bold;
}

label {
    font-family: dfds-light;
}

.aanmelden {
  max-width: 50%;
  margin: 2em auto;
  padding: 2em 2em;
  background: #ffffff;
}

.aanmelden fieldset {
    border: 0;
   margin: 1em;
}

.aanmelden input {
  margin-top: 0.5em; 
  margin-bottom: 2em;
  height: auto;
  padding: 1em;
  width: 97%;
  border: none;
  font-size: 1em;
  background-color: #eaedee;
  color: #8a97a0;
}

.aanmelden button {
   padding: 1em;
  width: 100%;
    border: none;
  font-size: 1em;
    background-color: #F6861F;
    font-family: dfds-bold;
    color: #ffffff;
    box-shadow: 0px 2px 5px #000000;
}

.aanmelden button:hover {
    background-color: #F29E57;
    box-shadow: 0px 0px 0px 0px #F29E57;
}

.acc {
   color: #0098FF;
    margin-left: 0;
}

/* Breakpoints */

@media screen and (min-width: 31.5em) {
    .artikelen {
        -webkit-flex-direction: row;
        flex-direction: row;
        margin: 0 auto;
    }
    .index {
        max-width: 45%
    }
    @media screen and (min-width: 67.5em) {
        .artikelen {
            -webkit-flex-direction: row;
            flex-direction: row;
            margin: 0 auto;
        }
        .index {
            max-width: 30%
        }
   